<!DOCTYPE html>
<html lang="en">

<head>
    <title>SFSU CSC 648 Team 03 Buy & Sell Inc for Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/results.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/sell.css">
    <link rel="stylesheet" href="/stylesheets/item.css">
    <link rel="stylesheet" href="/stylesheets/adminDashboard.css">
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <script type="text/javascript" src="/js/typeahead.js"></script>
    <script type="text/javascript" src="/js/sortSearchResults.js"></script>
    <script type="text/javascript" src="/js/filterResults.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm sticky-top">
        
    </nav>
    <!-- Disclaimer -->
    <nav class="navbar navbar-expand-sm justify-content-center sticky-top">
        <div class="disclaimer">For demonstrational and educational purposes only.</div>
    </nav>

    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-sm sticky-top">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="/images/main/GatorTraderLogo2.png" style="width:150px" alt="">
        </a>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <!-- Search bar -->
        <form action="/search" method="POST" class="product-search-form">
            <div class="input-group">
                <!-- Category filter dropdown menu -->
                <div class="input-group-prepend">
                    <select name="categories" class="btn category-button dropdown-toggle">
                        <option value="all">All Categories</option>
                        {{#each category}}
                        <option value="{{this.cid}}" {{#if (eq this.cid @root.selectedCategoryVal)}} selected {{/if}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <!-- Search input field -->
                <input type="text" name="keyword" class="typeahead tt-query" autocomplete="off" spellcheck="false"
                    placeholder="What are you looking for?" value="{{keyword}}" id="searchKeyword" maxlength="40">
                <!-- Submit search button -->
                <div class="input-group-append">
                    <button class="btn search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <!-- Sell button -->
        <ul class="navbar-nav sell">
            <li class="nav-item">
                <button class="btn sell-button">
                    <a href="/sell">Sell</a>
                </button>
            </li>
        </ul>

        <!-- User dropdown menu -->
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    {{#if loggedIn}}
                    Hello, <b>{{loggedIn.username}}</b>
                    {{else}}
                    Hello, Sign in
                    {{/if}}
                </a>
                <div class="dropdown-menu user-dropdown-menu">
                    {{#if loggedIn}}
                    {{#if loggedIn.aid}}
                    <a class="dropdown-item" href="/admin/dashboard"><span class="fas fa-users-cog"></span> Dashboard</a>
                    <a class="dropdown-item" href="/admin/logout"><span class="fa fa-sign-out"></span> Log Out</a>
                    {{else}}
                    <a class="dropdown-item" href="/user/dashboard"><span class="fa fa-user"></span> Dashboard</a>
                    <a class="dropdown-item" href="/user/logout"><span class="fa fa-sign-out"></span> Log Out</a>
                    {{/if}}
                    {{else}}
                    <a class="dropdown-item" href="/user/login"><span class="fa fa-sign-in"></span> Sign in</a>
                    <a class="dropdown-item" href="/user/dashboard"><span class="fa fa-user"></span> Dashboard</a>
                    <a class="dropdown-item" href="/admin/login"><span class="fas fa-users-cog"></span> Admin</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </nav>

    <nav class="navbar navbar-expand-sm justify-content-center">
        <ul class="navbar-nav">
            {{#each category}}
            <li class="nav-item">
                <a class="nav-link" href="/search?c={{this.cid}}">{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>

    <div class="main">
        {{{body}}}
    </div>

    <div class="footer">
        <p>
            <a href="/sell">Sell</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="/about">About</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a href="#">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;
        </p>
        <p style="margin-bottom: 0;">Copyright © 2019 SFSU CSC 648 Team 03 Buy & Sell Inc for Students. All rights reserved.</p>
    </div>
</body>

</html>