{{!-- Container for account manipulations --}}
<div class="account_container mt-4">
    <!-- Display successfully listing item message -->
    <div class="col-5 mx-auto">
        {{> message}}
    </div>
    <h1>Welcome to your Dashboard, {{usernameOf loggedIn.username}}!</h1>
    {{!-- <div class="row">
        <div class="col">
            <div id="account">
                <img src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png"
                    style="width:90px;height:90px;">
                Edit Your account
            </div>
        </div>
        <div class="col">
            <div id="account">
                <img src="https://docmind-analytics.com/wp-content/uploads/2018/05/LogoMakr_9FI1nX.png"
                    style="width:90px;height:90px;">
                Spending Analysis
            </div>
        </div>

        <div class="col">
            <div id="account">
                <img src="https://www.essent.com/SiteData/SiteID34/Images/Ecommerce-Marketing/Ecommerce%20Marketing%20Recommended%20Products.png"
                    style="width:90px;height:90px;">
                Recommendations
            </div>
        </div>
    </div> --}}
</div>

{{!-- --------------------------------------------------------------------------------- --}}
<hr style="border: 3px solid rgb(31, 26, 34); max-width: 50%">
{{!-- --------------------------------------------------------------------------------- --}}

<ul class="nav nav-tabs dashboard_tabs">
    <li class="nav-item">
        <a href="#items_forSale_tab" class="nav-link active" data-toggle="tab">Selling</a>
    </li>
    <li class="nav-item">
        <a href="#dashboard_messages_tab" class="nav-link" data-toggle="tab">Messages</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane fade show active" id="items_forSale_tab">
        {{!-- Container for the selling section --}}
        <div class="sell_container">
            <h2>Items You are Selling</h2>
            <ul class="selling px-0">
                <li class="table-header">
                    <div class="col col-6">Name</div>
                    <div class="col col-1">Price</div>
                    <div class="col col-2">Status</div>
                    <div class="col col-4">
                        Actions
                    </div>
                </li>
                {{#if product}}
                {{#each product}}
                <li class="table-row">
                    <div class="col col-6"><a href="/products/{{this.pid}}">{{this.name}}</a></div>
                    <div class="col col-1">${{this.price}}</div>
                    {{#if (eq this.status "Active")}}
                    <div class="col col-2">{{this.status}}</div>
                    {{else}}
                    <div class="col col-1" style="color: red;">{{this.status}}</div>
                    {{/if}}
                    <div class="col col-4">
                        {{#if (eq this.status "Ended")}}
                        <a href="/products/{{this.pid}}/relist"><button type="button"
                                class="btn btn-danger btn-sm">Relist</button></a>
                        {{else}}
                        <a href="/products/{{this.pid}}/edit"><button type="button"
                                class="btn btn-secondary btn-sm">Revise</button></a>
                        <a href="/products/{{this.pid}}/end"><button type="button" class="btn btn-danger btn-sm">End
                                Listing</button></a>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
                {{else}}
                <li class="table-row">
                    No active listings.
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="dashboard_messages_tab">
        {{!-- Container for the messages section --}}
        <div class="messages_container">
            <h2>Your Messages</h2>
            <ul class="messages px-0">
                <li class="table-header">
                    <div class="col col-1">Item</div>
                    <div class="col col-2">Message From</div>
                    <div class="col col-3">Subject</div>
                    <div class="col col-4">Received</div>
                    <div class="col col-5">Chat</div>
                </li>
                <li class="table-row">
                    <div class="col col-1">Chair</div>
                    <div class="col col-2">Jimmy13</div>
                    <div class="col col-3">Pickup</div>
                    <div class="col col-4">24 Oct, 2019</div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-primary btn-sm"> Open Chat</button>

                    </div>

                </li>
                <li class="table-row">
                    <div class="col col-1">Chair</div>
                    <div class="col col-2">Alex007</div>
                    <div class="col col-3">Where?</div>
                    <div class="col col-4">20 Oct, 2019</div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-primary btn-sm"> Open Chat</button>

                    </div>

                </li>
                <li class="table-row">
                    <div class="col col-1">Book</div>
                    <div class="col col-2">Mario777</div>
                    <div class="col col-3">Discount</div>
                    <div class="col col-4">27 Oct, 2019</div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-primary btn-sm"> Open Chat</button>

                    </div>
                </li>
                <li class="table-row">
                    <div class="col col-1">Computer</div>
                    <div class="col col-2">Kate B</div>
                    <div class="col col-3">My offer!!!</div>
                    <div class="col col-4">17 Oct, 2019</div>
                    <div class="col col-5">
                        <button type="button" class="btn btn-primary btn-sm">Open Chat</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>