<!-- Results Info Bar -->
{{#if product}}
<div class="d-flex results-info">
    <div class="dropdown dropdown_sidebar">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            &#9776
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="price_range_dd">
                <h4><b>Price</b></h4>
                <a class="dropdown-item" href="#" id="under25">Under $25</a>
                <a class="dropdown-item" href="#" id="25to50">$25 to $50</a>
                <a class="dropdown-item" href="#" id="50to200">$50 to $200</a>
                <a class="dropdown-item" href="#" id="over200">$200 and Above</a>
            </div>
            <div class="condition_dd">
                <h4><b>Condition</b></h4>
                <a class="dropdown-item" href="#" id="new">New</a>
                <a class="dropdown-item" href="#" id="used-excellent">Used - Excellent</a>
                <a class="dropdown-item" href="#" id="used-good">Used - Good</a>
                <a class="dropdown-item" href="#" id="used-fair">Used - Fair</a>
                <a class="dropdown-item" href="#" id="used-salvage">Used - Salvage</a>
            </div>
        </div>
    </div>
    <div class="mr-auto">
        {{{resultsInfo offset pageLimit totalProducts keyword}}}
    </div>
    <div class="results-sort-button-container">

        
        <button type="button" class="btn results-sort-button dropdown-toggle results_sort_large" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort by:
            {{#if (eq searchCriteria.sortF "ltoh")}}
            Price: Low to High
            {{/if}}
            {{#if (eq searchCriteria.sortF "htol")}}
            Price: High to Low
            {{/if}}
            {{#if (eq searchCriteria.sortF "atoz")}}
            Alphabetically: A-Z
            {{/if}}
        </button>

         <button type="button" class="btn results-sort-button dropdown-toggle results_sort_small" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{#if (eq searchCriteria.sortF "ltoh")}}
            {{/if}}
            {{#if (eq searchCriteria.sortF "htol")}}
            {{/if}}
            {{#if (eq searchCriteria.sortF "atoz")}}
            {{/if}}
        </button>

        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" id="ltoh">Price: Low to High</a>
            <a class="dropdown-item" href="#" id="htol">Price: High to Low</a>
            <a class="dropdown-item" href="#" id="atoz">Alphabetically: A-Z</a>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 sidebar_column">
                <div class="sidebar">
                    <div class="price_range">
                        <h4><b>Price</b></h4>
                        <a href="#" class="under25">Under $25</a>
                        <a href="#" class="25to50">$25 to $50</a>
                        <a href="#" class="50to200">$50 to $200</a>
                        <a href="#" class="over200">$200 and Above</a>
                    </div>
                    <div class="condition">
                        <h4><b>Condition</b></h4>
                        <a href="#" class="new">New</a>
                        <a href="#" class="used-excellent">Used - Excellent</a>
                        <a href="#" class="used-good">Used - Good</a>
                        <a href="#" class="used-fair">Used - Fair</a>
                        <a href="#" class="used-salvage">Used - Salvage</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 card_column">
                <table id="search-results">
                    {{#each product}}
                    <tr>
                        <td>
                            <div class="results_card_container">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="results_image">
                                                <!-- added this, when you click on photo, it goes to new window -->
                                                <a href="/products/{{this.pid}}" target="_blank">
                                                    <img width="100%;"
                                                        src="{{#if this.photoFileName}}/images/uploads_compressed/{{this.seller}}/salesItems/{{this.photoFileName}}{{/if}}"
                                                        alt="Item Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="info">
                                                <div class="featured_text">
                                                    <!-- added this, when you click on item title link, it goes to new window -->
                                                    <h1><a href="/products/{{this.pid}}" target="_blank"> {{this.name}}
                                                        </a></h1>
                                                    <p class="seller">by <b>{{usernameOf this.sellerEmail}}</b></p>
                                                    <p class="price">${{this.newPrice}}</p>
                                                    <p class="category"><b>Category:</b> {{categoryName this.category}}
                                                    </p>
                                                    <div class="description" id="module">
                                                        <b>Description:</b>
                                                        <p class="collapse" id="collapseExample{{@index}}"
                                                            aria-expanded="false">
                                                            {{{this.description}}}
                                                        </p>
                                                        <a role="button" class="collapsed" data-toggle="collapse"
                                                            href="#collapseExample{{@index}}" aria-expanded="false"
                                                            aria-controls="collapseExample"></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="card_footer">
                                                <div class="contact_seller">
                                                    <button class="button"><a href="/products/{{this.pid}}/inquiry"
                                                            target="_blank">Contact Seller</a></button>
                                                </div>
                                                <!-- pop up messages -->
                                        {{!--   <div class="chat-popup" id="myForm">
                                                    <form action="#" action="POST" class="form-container">
                                                        <h4>*Item Name*</h4>
                                                        <h5>by *Seller*</h5>
                                                        <textarea placeholder="Type message.." name="msg"
                                                            required></textarea>
                                                        <div class="row justify-content-between">
                                                            <div class="col-auto">
                                                                <button type="button" class="btn btn-danger"
                                                                    onclick="closeForm()">Close</button>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button type="submit"
                                                                    class="btn btn-success submit_b">Send</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    {{#if (gt pageCount 1)}}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            {{{pagination pageCount currentPage searchCriteria}}}
        </ul>
    </div>
    {{/if}}

    {{else}}
    {{#if searchCriteria.keyword}}
    <div class="container-fluid error-template my-4">
        <div class="row">
            <div class="col-auto col-lg-auto mx-auto">
                <div style="font-size: 3vw;">
                    <b>Sorry, we couldn't find any items matching {{searchCriteria.keyword}}.</b>
                </div>
                <div style="font-size: 2vw;">
                    Try checking your spelling or use more general terms
                </div>
                <div style="padding-top: 50px; text-align: center;">
                    <img src="/images/error_alligator_image/alligator.jpg" alt="Cartoon Aligator"
                        style="width: 200px; height: auto;">
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{#if searchCriteria.selectedCategoryName}}
    <div class="container-fluid error-template my-4">
        <div class="row">
            <div class="col-auto col-lg-auto mx-auto">
                <div style="font-size: 3vw;">
                    <b>Sorry, there are no such items under category, {{searchCriteria.selectedCategoryName}}.</b>
                </div>
                <div style="font-size: 2vw;">
                    Please select another category
                </div>
                <div style="padding-top: 50px; text-align: center;">
                    <img src="/images/error_alligator_image/alligator.jpg" alt="Cartoon Aligator"
                        style="width: 200px; height: auto;">
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="container-fluid error-template my-4">
        <div class="row">
            <div class="col-auto col-lg-auto mx-auto">
                <div style="font-size: 3vw;">
                    <b>Sorry, there are no such items.</b>
                </div>
                <div style="font-size: 2vw;">
                    Try entering a keyword, or select another category
                </div>
                <div style="padding-top: 50px; text-align: center;">
                    <img src="/images/error_alligator_image/alligator.jpg" alt="Cartoon Aligator"
                        style="width: 200px; height: auto;">
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{/if}}
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('.toggle-nav').click(function (e) {
            jQuery(this).toggleClass('active');
            jQuery('.sidebar ul').toggleClass('active');
            e.preventDefault();
        });
    });
</script>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

</script>

<script>
    $(document).click(function (e) {
        if (!$(e.target).is("#myForm") && !$(e.target).is(".button") && !$(e.target).is(".submit_b")) {
            if ($('#myForm').is(':visible')) {
                closeForm();
            }
        }
    });
</script>