<!-- Results Info Bar -->
{{#if product}}
<div class="d-flex results-info">
    <div class="mr-auto">
        {{{resultsInfo offset pageLimit totalProducts keyword}}}
    </div>
    <div class="results-sort-button-container">
        <button type="button" class="btn results-sort-button dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort By:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Price: Low to High</a>
            <a class="dropdown-item" href="#">Price: High to Low</a>
            <a class="dropdown-item" href="#">Alphabetical: A-Z</a>
        </div>
    </div>
</div>
{{/if}}

<div class="container-fluid mb-3">
    {{#if product}}

    <!-- Side Bar -->
    <div class="sidebar">
        <!--
        <h3>Seller Rating</h3>
        <div class="reviews">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
        </div>
        <div class="reviews">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
            </ul>
        </div>
        <div class="reviews">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
            </ul>
        </div>
        <div class="reviews">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
            </ul>
        </div>
        <div class="reviews">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
                <li><i class="fa fa-star-o"></i></li>
            </ul>
        </div>
        -->
        <div class="price_range">
            <h4><b>Price</b></h4>
            <a href="#" id="under25">Under $25</a>
            <a href="#" id="25to50">$25 to $50</a>
            <a href="#" id="50to200">$50 to $200</a>
            <a href="#" id="over200">$200 and Above</a>
        </div>
        <div class="condition">
            <h4><b>Condition</b></h4>
            <a href="#" id="new">New</a>
            <a href="#" id="used">Used</a>
        </div>
    </div>

    <table id="search-results">
        {{#each product}}
        <tr>
            <td>
                <div class="col-sm-12">
                    <div class="results_column">
                        <div class="card">
                            <div class="card_body">
                                <div class="photo">
                                    <div class="image">
                                        <img src="https://thumbs-prod.si-cdn.com/mHAHLSMfYOtZJs_PDnkqAgPFd6Q=/fit-in/1600x0/https://public-media.si-cdn.com/filer/00/a1/00a1f7bf-556f-48ef-a4da-10ea981a9337/mona.jpg"
                                            alt="Picture">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="featured_text">
                                        <h1><a href="/products/{{this.pid}}">{{this.name}}</a></h1>
                                        <p class="sub">Nice Painting</p>
                                        <p class="price">${{this.price}}</p>
                                    </div>
                                    <div class="description">
                                        <p>{{this.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card_footer">
                                <div class="seller">
                                    <p>Seller: </p>
                                    <h3>{{this.seller}}</h3>
                                    <!--
                                    <div class="reviews">
                                        <ul class="stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <span>(10 reviews)</span>
                                    </div>
                                    -->
                                </div>
                                <div class="action">
                                    <button type="button">Contact Seller</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </table>

    {{#if (gt pageCount 1)}}
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            {{{pagination pageCount currentPage selectedCategoryVal keyword}}}
        </ul>
    </div>
    {{/if}}

    {{else}}
    {{#if keyword}}
    <div class="card mx-auto mt-4" style="width: 50%;">
        <div style="padding-left: 20px;">
            <h3>No results for {{keyword}}.</h3>
            <h6>Try checking your spelling or use more general terms</h6>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto mt-4" style="width: 50%;">
        <div style="padding-left: 20px;">
            <h3>No results for category, {{selectedCategoryName}}.</h3>
            <h6>Please select another category</h6>
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>