{{#if data.isSeller}}
<div class="itemContainer">
    {{#if (eq data.salesItem.status "Unapproved")}}
    <b>Waiting for approval</b>
    {{else if (eq data.salesItem.status "Active")}}
    <b>Your item is for sale</b>
    {{else if (eq data.salesItem.status "Disapproved")}}
    <b>Your item was not approved by administrator. Please revise listing.</b>
    {{else if (eq data.salesItem.status "Ended")}}
    <b>Your item is inactive</b>
    {{/if}}
</div>

<div class="itemContainer">
    {{#if (eq data.salesItem.status "Ended")}}
    <a href="/products/{{data.salesItem.pid}}/relist"><button type="button"
            class="btn btn-secondary btn-sm">Relist</button></a>
    {{else}}
    <a href="/products/{{data.salesItem.pid}}/edit"><button type="button"
            class="btn btn-secondary btn-sm">Revise</button></a>
    <a href="/products/{{data.salesItem.pid}}/end"><button type="button" class="btn btn-danger btn-sm">End
            Listing</button></a>
    {{/if}}
</div>
{{/if}}

{{#if data.isAdmin}}
<div class="itemContainer">
    {{#if (eq data.salesItem.status "Unapproved")}}
    <a href="/admin/approve?pid={{this.pid}}"><button type="button"
            class="btn btn-success btn-sm">Approve</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/admin/disapprove?pid={{this.pid}}"><button type="button"
            class="btn btn-danger btn-sm">Disapprove</button></a>
    {{else}}
    <a href="/admin/disapprove?pid={{this.pid}}"><button type="button"
            class="btn btn-danger btn-sm">Disapprove</button></a>
    {{/if}}
</div>
{{/if}}

<div class="itemContainer">
    <div class="container-fluid">
        <div class="row mx-0">
            <div class="col-lg-5">
                <div class="col">
                    <div class="items_page_mini_photos">
                        {{#each data.salesItemPhoto}}
                        <img id="sm001"
                            src="/images/uploads/{{@root.data.salesItem.seller}}/salesItems/{{this.photoFileName}}"
                            alt="img1" class="img-thumbnail"
                            data-img="/images/uploads/{{@root.data.salesItem.seller}}/salesItems/{{this.photoFileName}}">
                        {{/each}}
                    </div>
                </div>
                <div class="col">
                    <div class="items_page_main_photo">
                        <img data-enlargable style="cursor: zoom-in; height: 300px;"
                            src="/images/uploads/{{data.salesItem.seller}}/salesItems/{{data.salesItemPhoto.0.photoFileName}}"
                            id="ProductImage" class="img-fluid" data-toggle="modal" data-target="#exampleModalCenter"
                            alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="featured_text">
                    <h1>{{data.salesItem.name}}</h1>
                    <p class="seller">by <b>{{usernameOf data.salesItem.sellerEmail}}</b></p>
                    <p class="price">Price: ${{data.salesItem.price}}</p>
                    <ul class="brief_description">
                        <li><b>Category:</b>{{#each category}}
                            {{#if (eq @root.data.salesItem.category this.cid)}}
                            {{this.name}}
                            {{/if}}
                            {{/each}}
                        </li>
                        <li><b>Condition:</b> {{data.salesItem.condition}}</li>
                        <li><b>Quantity:</b> {{data.salesItem.quantity}} available</li>
                        <li><b>Delivery Method:</b> {{data.salesItem.deliveryMethod}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                {{#if data.pickupLocation}}
                <div class="mb-2" id="location_pin">
                    <h4>Pickup Location(s)</h4>
                    {{#each data.pickupLocation}}
                    <li>{{this.location}}</li>
                    {{/each}}
                </div>
                <div class="pickup_map mb-4" id="map"></div>
                <div class="mt-3">
                    <a href="/products/{{data.salesItem.pid}}/inquiry" class="contact_button" target="_blank">Contact
                        Seller</a>
                </div>
                {{else}}
                <div class="mt-3" style="text-align: right;">
                    <a href="/products/{{data.salesItem.pid}}/inquiry" class="contact_button" target="_blank">Contact
                        Seller</a>
                </div>
                {{/if}}
            </div>

            <!-- pop up messages -->
            {{!-- <div class="chat-popup" id="myForm">
                <form action="#" action="POST" class="form-container">
                    <h4>{{data.salesItem.name}}</h4>
                    <h5>by {{usernameOf data.salesItem.sellerEmail}}</h5>
                    <textarea placeholder="Type message.." name="msg" required></textarea>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger" onclick="closeForm()">Close</button>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </form>
            </div> --}}
        </div>
        <div class="row mx-0">
            <div class="col">
                <div class="additional_Info">
                    <div class="description">
                        <h4>Description</h4>
                        {{{data.salesItem.description}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*var locations = [
        ['Library', 37.721375, -122.478172, 'A'],
        ['Student Center', 37.722617, -122.478602, 'B'],
        ['Wellness Center', 37.723000, -122.484177, 'C']
    ];*/


var locations = [];
var lis = document.getElementById("location_pin").getElementsByTagName("li");
let value1 = "Wellness Center";
let value2 = "Library";
let value3 = "Student Center";
for(let i=0; i<lis.length; i++){
    console.log(lis[i].innerHTML);
    if(value1.localeCompare(lis[i].innerHTML)==0){
        locations.push(['Wellness Center', 37.723000, -122.484177, 'C']);
            console.log("WC");
    }
     if(value2.localeCompare(lis[i].innerHTML)==0){
        locations.push(['Library', 37.721375, -122.478172, 'A']); 
            console.log("LIB");
    }
     if(value3.localeCompare(lis[i].innerHTML)==0){
        locations.push(['Student Center', 37.722617, -122.478602, 'B']);
            console.log("SC");
    }
}

    // Initialize and add the map
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: new google.maps.LatLng(37.722783, -122.480617),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                label: locations[i][3],
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmPnJOHPJQCfqR09N0nUphOsLAEOVC0k&callback=initMap">
    </script>

<!-- https://stackoverflow.com/a/49295093 for the hover photos -->
<script>
    $('img[id^=sm00]').hover(function () {
        $('#ProductImage').attr('src', $(this).data('img'));
    });
</script>

<!-- https://stackoverflow.com/a/50430187 for when enlarging photos when click-->
<script>
    $('img[data-enlargable]').addClass('img-enlargable').click(function () {
        var src = $(this).attr('src');
        $('<div>').css({
            background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
            backgroundSize: 'contain',
            width: '100%', height: '100%',
            position: 'fixed',
            zIndex: '10000',
            top: '0', left: '0',
            cursor: 'zoom-out'
        }).click(function () {
            $(this).remove();
        }).appendTo('body');
    });
</script>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>