<div class="container my-4">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <!-- Display error listing item message -->
            <div class="col-5 mx-auto">
                {{> message}}
            </div>

            <div class="container header">
                <h1>{{#if reviseMode}}Revise an Item{{else}}Listing an Item for Sale{{/if}}</h1>
            </div>

            <form action="{{#if salesItem}}/products/{{salesItem.pid}}/edit{{else}}/sell{{/if}}"
                enctype="multipart/form-data" method="POST" id="sellForm">
                <div class="mb-4">
                    <h5>Name</h5>
                    <input type="text" id="product" name="productName" class="form-control" style="color: black"
                        placeholder="No more than 70 characters" maxlength="70" value="{{salesItem.name}}" required>
                </div>

                <div class="col-3 px-0 mb-4">
                    <h5>Price ($)</h5>
                    <input type="text" id="price" name="price" class="form-control" style="color: black"
                        placeholder="0.00" value="{{salesItem.price}}" required>
                </div>

                <div class="mb-4">
                    <h5>Category</h5>
                    <select name="category" id="category" required>
                        <option value="">Choose a category</option>
                        {{#each category}}
                        <option value="{{this.cid}}" {{#if (eq this.cid @root.salesItem.category)}} selected {{/if}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <div class="mb-4">
                    <h5>Is this a course specific material?</h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="courseSpecificMaterialYes"
                            name="isCourseSpecificMaterial" value="courseSpecificMaterialYes"
                            {{#if salesItem}}{{#if salesItem.classMaterialSection}}checked{{/if}}{{/if}}>
                        <label class="custom-control-label" for="courseSpecificMaterialYes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="courseSpecificMaterialNo"
                            name="isCourseSpecificMaterial" value="courseSpecificMaterialNo"
                            {{#if salesItem}}{{#if (eq salesItem.classMaterialSection null)}}checked{{/if}}{{/if}}>
                        <label class="custom-control-label" for="courseSpecificMaterialNo">No</label>
                    </div>
                </div>

                <div class="mb-4" id="classMaterialSection"
                    {{#if (eq salesItem.classMaterialSection null)}}style="display: none;" {{/if}}>
                    <h5>Course</h5>
                    <select name="classMaterialSection">
                        <option value="">-</option>
                        {{#each course}}
                        <option value="{{this.csid}}" {{#if (eq this.csid @root.salesItem.classMaterialSection)}}
                            selected {{/if}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <div class="mb-4">
                    <h5>Condition</h5>
                    <select name="condition" required>
                        <option value="">-</option>
                        <option value="New" {{#if (eq salesItem.condition "New")}} selected {{/if}}>New</option>
                        <option value="Used - Excellent" {{#if (eq salesItem.condition "Used - Excellent")}} selected
                            {{/if}}>Used - Excellent</option>
                        <option value="Used - Good" {{#if (eq salesItem.condition "Used - Good")}} selected {{/if}}>Used
                            - Good</option>
                        <option value="Used - Fair" {{#if (eq salesItem.condition "Used - Fair")}} selected {{/if}}>Used
                            - Fair</option>
                        <option value="Used - Salvage" {{#if (eq salesItem.condition "Used - Salvage")}} selected
                            {{/if}}>Used - Salvage</option>
                    </select>
                </div>

                <div class="col-2 px-0 mb-4">
                    <h5>Quantity</h5>
                    <input type="number" id="quantity" name="quantity" class="form-control" style="color: black"
                        placeholder="" min="1" max="10" value="{{salesItem.quantity}}" required>
                </div>

                <div class="mb-4">
                    <h5>Delivery Method</h5>
                    <div class="pl-2">
                        <div class="custom-control custom-checkbox custom-control-inline mb-3">
                            <input type="checkbox" class="custom-control-input" id="shipping" name="deliveryMethod"
                                value="shipping"
                                {{#if (or (eq salesItem.deliveryMethod "Shipping Only") (eq salesItem.deliveryMethod "Shipping & Pickup"))}}
                                checked{{/if}}>
                            <label class="custom-control-label" for="shipping">Shipping</label>
                        </div>
                        <h6>Pickup Location</h6>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="library" name="deliveryMethod"
                                value="library"
                                {{#each pickupLocation}}{{#if (eq this.location "Library")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="library">Library (A)</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="student-center"
                                name="deliveryMethod" value="student-center"
                                {{#each pickupLocation}}{{#if (eq this.location "Student Center")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="student-center">Student Center (B)</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="wellness-center"
                                name="deliveryMethod" value="wellness-center"
                                {{#each pickupLocation}}{{#if (eq this.location "Wellness Center")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="wellness-center">Wellness Center (C)</label>
                        </div>
                        <div class="pickup_map" id="map" style="display: none;"></div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5>Description</h5>
                    <textarea class="form-control" rows="5" id="description" name="description"
                        placeholder="Please enter description here" style="color: black"
                        required>{{{salesItem.description}}}</textarea>
                </div>

                <div class="mb-4">
                    <h5>Add Image Here</h5>
                    <div>
                        <label for="salesItemImage" id="salesItemImageLabel">Choose up to 4 images to upload (PNG,
                            JPG)</label>
                        <input type="file" name="salesItemImage" id="salesItemImage"
                            accept="image/png,image/jpg,image/jpeg" style="width: 1px" multiple
                            {{#if reviseMode}}{{else}}required{{/if}} />
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>

                <div class="row justify-content-end mx-0">
                    <button type="reset" class="btn btn-danger"
                        id="resetForm">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-success">Submit</button>
                    <div id="card-stack"></div>
                </div>
            </form>
        </div>
    </div>

</div>

</div>

<script type="text/javascript" src="/js/sell.js"></script>

<script>

    var locations = [];


    var checkboxLib = document.querySelector("#library");
    var checkboxSC = document.querySelector("#student-center");
    var checkboxWC = document.querySelector("#wellness-center");

checkboxLib.addEventListener( 'change', function() {
    var m = document.querySelector("#map");

    if(this.checked) {
        m.style.display="block";
        locations.push(['Library', 37.721375, -122.478172, 'A']); 
        initMap();
    }else if( checkboxSC.checked ||  checkboxWC.checked){
         m.style.display="block";
        initMap();
    }
    else {
        m.style.display="none";
    }

    if(!this.checked){
        let value = "Library";
        for(let i=0; i<locations.length; i++){
            var index = locations[i][0].toString();

            let check = index.localeCompare(value);
            if(check==0){
               var x = locations.splice(i, 1);
            }
        }
         initMap();
    }

});

checkboxSC.addEventListener( 'change', function() {
    var m = document.querySelector("#map");
    
    if(this.checked) {
        m.style.display="block";
        locations.push(['Student Center', 37.722617, -122.478602, 'B']);
        initMap();
    }else if(checkboxLib.checked ||  checkboxWC.checked){
         m.style.display="block";
        initMap();
    }
     else {
        m.style.display="none";
    }

    if(!this.checked){
        let value = "Student Center";
        for(let i=0; i<locations.length; i++){
            var index = locations[i][0].toString();

            let check = index.localeCompare(value);
            if(check==0){
               var x = locations.splice(i, 1);
            }
        }
         initMap();
    }

    
});

checkboxWC.addEventListener( 'change', function() {
    var m = document.querySelector("#map");

    if(this.checked) {
        m.style.display="block";
        locations.push(['Wellness Center', 37.723000, -122.484177, 'C']);
        initMap();
    }else if(checkboxSC.checked ||  checkboxLib.checked){
         m.style.display="block";
        initMap();
    } 
    else {
        m.style.display="none";
    }
   if(!this.checked){
        let value = "Wellness Center";
        for(let i=0; i<locations.length; i++){
            var index = locations[i][0].toString();

            let check = index.localeCompare(value);
            if(check==0){
                var x = locations.splice(i, 1);
            }
        }
         initMap();
    }
});

    // Initialize and add the map
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: new google.maps.LatLng(37.722265, -122.480673),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                label: locations[i][3],
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmPnJOHPJQCfqR09N0nUphOsLAEOVC0k&callback=initMap">
    </script>