<div class="container my-4">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <!-- Display error listing item message -->
            <div class="col-5 mx-auto">
                {{> message}}
            </div>

            <div class="container header">
                <h1>{{#if reviseMode}}Revise an Item{{else}}Listing an Item for Sale{{/if}}</h1>
            </div>

            <form action="{{#if salesItem}}/products/{{salesItem.pid}}/edit{{else}}/sell{{/if}}"
                enctype="multipart/form-data" method="POST" id="sellForm">
                <div class="mb-4">
                    <h5>Name</h5>
                    <input type="text" id="product" name="productName" class="form-control" style="color: black"
                        placeholder="No more than 70 characters" maxlength="70" value="{{salesItem.name}}" required>
                </div>

                <div class="col-3 px-0 mb-4">
                    <h5>Price ($)</h5>
                    <input type="text" id="price" name="price" class="form-control" style="color: black"
                        placeholder="0.00" min="1" max="99999" value="{{salesItem.price}}" required>
                </div>

                <div class="mb-4">
                    <h5>Category</h5>
                    <select name="category" id="category" required>
                        <option value="">Choose a category</option>
                        {{#each category}}
                        <option value="{{this.cid}}" {{#if (eq this.cid @root.salesItem.category)}} selected {{/if}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <div class="mb-4">
                    <h5>Is this a class specific material?</h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="classSpecificMaterialYes"
                            name="isClassSpecificMaterial" value="classSpecificMaterialYes"
                            {{#if salesItem}}{{#if salesItem.classMaterialSection}}checked{{/if}}{{/if}}>
                        <label class="custom-control-label" for="classSpecificMaterialYes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="classSpecificMaterialNo"
                            name="isClassSpecificMaterial" value="classSpecificMaterialNo"
                            {{#if salesItem}}{{#if (eq salesItem.classMaterialSection null)}}checked{{/if}}{{/if}}>
                        <label class="custom-control-label" for="classSpecificMaterialNo">No</label>
                    </div>
                </div>

                <div class="mb-4" id="classMaterialSection"
                    {{#if (eq salesItem.classMaterialSection null)}}style="display: none;" {{/if}}>
                    <h5>Class Section</h5>
                    <select name="classMaterialSection">
                        <option value="">-</option>
                        {{#each classSection}}
                        <option value="{{this.csid}}" {{#if (eq this.csid @root.salesItem.classMaterialSection)}}
                            selected {{/if}}>
                            {{this.name}}
                        </option>
                        {{/each}}
                    </select>
                </div>

                <div class="mb-4">
                    <h5>Condition</h5>
                    <select name="condition" required>
                        <option value="">-</option>
                        <option value="New" {{#if (eq salesItem.condition "New")}} selected {{/if}}>New</option>
                        <option value="Used - Excellent" {{#if (eq salesItem.condition "Used - Excellent")}} selected
                            {{/if}}>Used - Excellent</option>
                        <option value="Used - Good" {{#if (eq salesItem.condition "Used - Good")}} selected {{/if}}>Used
                            - Good</option>
                        <option value="Used - Fair" {{#if (eq salesItem.condition "Used - Fair")}} selected {{/if}}>Used
                            - Fair</option>
                        <option value="Used - Salvage" {{#if (eq salesItem.condition "Used - Salvage")}} selected
                            {{/if}}>Used - Salvage</option>
                    </select>
                </div>

                <div class="col-2 px-0 mb-4">
                    <h5>Quantity</h5>
                    <input type="number" id="quantity" name="quantity" class="form-control" style="color: black"
                        placeholder="" min="1" max="10" value="{{salesItem.quantity}}" required>
                </div>

                <div class="mb-4">
                    <h5>Delivery Method</h5>
                    <div class="pl-2">
                        <div class="custom-control custom-checkbox custom-control-inline mb-3">
                            <input type="checkbox" class="custom-control-input" id="shipping" name="deliveryMethod"
                                value="shipping"
                                {{#if (or (eq salesItem.deliveryMethod "Shipping Only") (eq salesItem.deliveryMethod "Shipping & Pickup"))}}
                                checked{{/if}}>
                            <label class="custom-control-label" for="shipping">Shipping</label>
                        </div>
                        <h6>Pickup Location</h6>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="library" name="deliveryMethod"
                                value="library"
                                {{#each pickupLocation}}{{#if (eq this.location "Library")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="library">Library</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="student-center"
                                name="deliveryMethod" value="student-center"
                                {{#each pickupLocation}}{{#if (eq this.location "Student Center")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="student-center">Student Center</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="wellness-center"
                                name="deliveryMethod" value="wellness-center"
                                {{#each pickupLocation}}{{#if (eq this.location "Wellness Center")}}checked{{/if}}{{/each}}>
                            <label class="custom-control-label" for="wellness-center">Wellness Center</label>
                        </div>
                         <div class="pickup_map" id="map"></div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5>Description</h5>
                    <textarea class="form-control" rows="5" id="description" name="description"
                        placeholder="Please enter description here" style="color: black"
                        required>{{salesItem.description}}</textarea>
                </div>

                <div class="mb-4">
                    <h5>Add Image Here</h5>
                    <div>
                        <label for="salesItemImage" id="salesItemImageLabel">Choose up to 4 images to upload (PNG,
                            JPG)</label>
                        <input type="file" name="salesItemImage" id="salesItemImage"
                            accept="image/png,image/jpg,image/jpeg" style="width: 1px" multiple {{#if reviseMode}}{{else}}required{{/if}} />
                    </div>
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                </div>

                <div class="row justify-content-end mx-0">
                    <button type="reset" class="btn btn-danger"
                        id="resetForm">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

</div>

<script type="text/javascript" src="/js/sell.js"></script>


<script>

    var locations = [
        ['Wellness Center', 37.721199, -122.476845, 4],
        ['Library', 37.721453, -122.479517, 5],
        ['Student Center', 37.723354, -122.477949, 3],

    ];
    // Initialize and add the map
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: new google.maps.LatLng(37.722492, -122.477718),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmPnJOHPJQCfqR09N0nUphOsLAEOVC0k&callback=initMap">
    </script>



<!-- https://stackoverflow.com/a/49295093 for the hover photos -->
<script>
    $('img[id^=sm00]').hover(function () {
        $('#ProductImage').attr('src', $(this).data('img'));
    });
</script>

<!-- https://stackoverflow.com/a/50430187 for when enlarging photos when click-->
<script>
    $('img[data-enlargable]').addClass('img-enlargable').click(function () {
        var src = $(this).attr('src');
        $('<div>').css({
            background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
            backgroundSize: 'contain',
            width: '100%', height: '100%',
            position: 'fixed',
            zIndex: '10000',
            top: '0', left: '0',
            cursor: 'zoom-out'
        }).click(function () {
            $(this).remove();
        }).appendTo('body');
    });
</script>
